
html {
    background-color: lightgray;
    font-family: "Montserrat", sans-serif;
}

:root {
    --light-gray: rgb(220, 220, 220);
    --dark-gray: rgb(131, 113, 113);
}

#mass {
    display: flex;
    margin: 50px;
    border-radius: 2em;
    background-color: white;
    box-shadow: 0px 8px 10px -5px rgb(95, 95, 95);
    height: 512px;
    overflow: hidden; 
}

#pic {
    flex-basis: 50%;
    height: 100%;
}

picture,
.dresser {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dresser {
    border-radius: 2em 0 0 2em;
}

#rightside {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

.title, #sub {
    text-align: left;
    padding: 0 1em;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#sub h4 {
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.user-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #eee;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-image img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info h4 {
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.user-info a {
    color: #555;
    text-decoration: none;
    font-size: 0.9em;
}

.user-info a:hover {
    text-decoration: underline;
}

.share-icon {
    display: flexbox;
}

.share-icon i {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-icon i:hover {
    background-color: var(--dark-gray);
    color: var(--light-gray);
    cursor: pointer;
}

.share-popover {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 10px;
}

.share-popover p {
    margin: 0 10px 0 0;
}



@media screen and (max-width: 768px) {
    #mass {
        flex-direction: column;
        height: auto;
        margin: 20px;
    }

    #pic {
        width: 100%;
        height: 300px;
    }

    .dresser {
        border-radius: 2em 2em 0 0;
    }

    #rightside {
        padding: 2em;
    }
}

@media screen and (max-width: 420px) {
    h1, h4 {
        font-size: small;
    }

    .user-image img {
        width: 40px;
        height: 40px;
    }

    .user-info h4 {
        font-size: smaller;
    }

    .user-info a {
        font-size: smaller;
    }

    .share-icon i {
        padding: 5px;
        width: 30px;
        height: 30px;
        font-size: smaller;
    }

    .user-social {
        flex-direction: column;
        gap: 1em;
        border-top: none;
        margin-top: 1em;
        padding-top: 1em;
    }
}
