
:root {
  --background:rgb(255, 0, 0);
}

#foo {
  color: var(--background);
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 160px;
  width: 250px;
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 250px;
  /* line-height: 200px; */
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: var(--background);
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  background: var(--background);
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  background: var(--background);
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background: var(--background);
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background: var(--background);
}
.f {
  transform: rotateY(300deg) translateZ(250px);
  background: var(--background);
}

.next, .prev {
  color: #444;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  padding: 1em 2em;
  transition: box-shadow 0.1s, transform 0.1s;
  position: relative;
  z-index: 10;
}

.next:hover, .prev:hover { color: #000; }

.next:active, .prev:active {
  box-shadow: 0 1px 0 #999;
  transform: translateY(4px);
}
.carosel_btn{
  background-color: #000;
  border: solid white;
  border-radius: 5px;
}

.carousel-wrapper-mobile {
    display: none;
    margin: 0px 5px;
}

@media (max-width: 768px) {
    .carousel-wrapper {
        display: none;
    }
    .carousel-wrapper-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-mobile {
        margin: 0 auto;
        width: 200px;
        height: 200px;
        position: relative;
        transform-style: preserve-3d;
    }
    .carousel-mobile {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 1s;
    }
    .item-mobile {
        display: block;
        position: absolute;
        background: #000;
        width: 200px;
        height: 200px;
        text-align: center;
        color: #FFF;
        opacity: 0.95;
        border-radius: 10px;
    }
    .item-mobile.a {
        transform: rotateY(0deg) translateZ(150px);
        background: var(--background);
    }
    .item-mobile.b {
        transform: rotateY(60deg) translateZ(150px);
        background: var(--background);
    }
    .item-mobile.c {
        transform: rotateY(120deg) translateZ(150px);
        background: var(--background);
    }
    .item-mobile.d {
        transform: rotateY(180deg) translateZ(150px);
        background: var(--background);
    }
    .item-mobile.e {
        transform: rotateY(240deg) translateZ(150px);
        background: var(--background);
    }
    .item-mobile.f {
        transform: rotateY(300deg) translateZ(150px);
        background: var(--background);
    }
    .next-mobile, .prev-mobile {
        color: #444;
        cursor: pointer;
        background: #CCC;
        border-radius: 5px;
        border-top: 1px solid #FFF;
        box-shadow: 0 5px 0 #999;
        padding: 1em 2em;
        transition: box-shadow 0.1s, transform 0.1s;
        position: relative;
        z-index: 10;
    }
    .next-mobile:hover, .prev-mobile:hover {
        color: #000;
    }
    .next-mobile:active, .prev-mobile:active {
        box-shadow: 0 1px 0 #999;
        transform: translateY(4px);
    }
}
