* {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Baskervville", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Baskervville", serif;
  font-weight: 700;
  font-style: normal;
  display:flex;
}

#header-logo {
  text-align: center;
  padding: 15px 0;
}

#header-contact-mobile-nav {
  /* grid-area: header-contact-mobile-nav; */
  background-color:#262320;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#mobile-nav {
  color: white;
  padding: 01.5em;
  cursor: pointer;
  /* display:flex; */
}
.fa-solid{
  position: absolute;
  right: 2%;
  /* display:flex; */
}

#header-bottom-nav {
  grid-area: header-bottom-nav;
}


#header-bottom-nav ul {
  border-top: 1px solid 
lightgrey;
  /* background-color: red; */
  display: none;
  align-items: flex-start;
  flex-direction: column;
}

#header-bottom-nav ul li {
  border-bottom: 1px solid 
lightgrey;
  width: 100%;
}

#header-bottom-nav ul li a {
/*   background-color: yellow; */
  color: white;
  display: flex;

  font-size: 1.2em;
  border-bottom: 0.25em solid transparent;

  /* padding: 20px; */
  width: 100%;
}

#header-bottom-nav ul li a:hover,
#header-bottom-nav ul li a.active{
  color: 
deepskyblue;
}

#picture{
  float: left;
  background-color:#262320 ;
  max-width: 100%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Maintains the aspect ratio by adjusting height proportionally */
  display: block;
  display: flex;
  height: 48px;
  border: solid;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#title{
  color: white;
  position: absolute;
  /* display: flex; */
  left: 50px;
  border-style: solid;
  padding: 11.5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: larger;
}
p{
  color: white;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #262320;
    text-align: center;
    padding: 1em 0;
}

#footer_text{
    color: white;
}
#sorry{
  color: white;
  border: solid white;
  display: inline-block;
  padding: 5px;
  position: absolute;
  left: 50px;
  background-color: #262320;
  border-radius: 5px;
}
#buttons{
  position: relative;
  left: 50px;
  top: 50px;
  color: white;
  border: solid white;
  background-color: #262320;
  border-radius: 5px;
}
.parallax {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: -1;
  background-image: url('https://www.lynchdallas.com/application/files/7515/9231/1199/feature-full.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.parallax-text {
  z-index: 1;
  background-image: url("https://www.lynchdallas.com/application/themes/lynchdallas/img/bkg-pattern.jpg");
  padding: 1.5em;
  width: 80%;
  border-top: 5px solid var(--blue);
}

.parallax-text h3 {
  color: var(--blue);
  font-size: 2em;
  font-weight: 400;
  line-height: 1.25em;
}

.parallax-text h4 {
  color: 
white;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px 0;
}

.parallax-text p {
  color: 
white;
  margin: 1em 0; /* Add space above and below paragraph */
  line-height: 1.25em;
}
.hero {
  background-image: url(/images_main/3d-render-laptop-notebook-electronic-device-with-illuminated-with-neon-light_204298-982.jpg);
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.623);
  border:solid;
  border-radius: 5px;
  padding: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.623);
  border:solid;
  border-radius: 5px;
  padding: 5px;
}
#about_us{
  font-size: 20px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.623);
  border:solid;
  border-radius: 5px;
  padding: 10px;
  /* text-indent: 2em; */
  text-align: center;
}
#about_us_btn{
  background-color: rgba(0, 0, 0, 0.623);
  border:solid;
  border-radius: 5px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}
#about_us_cluster{
  background-image: linear-gradient(to bottom right, rgba(0, 0, 255, 0.801), rgba(255, 0, 0, 0.39));
}


.btn-primary {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #333;
  color: #fff;
}