:root {
  --background:rgba(0, 0, 0, 0.623);
}
/* CSS Utilities */
@import url('utilities.css');
/* Theme */
@import url('themes/default.css');
/* Native Styles */
@import url('native.css');
@layer wa-native, wa-utilities, wa-color-palette, wa-color-variant, wa-theme, wa-theme-dimension, wa-theme-overrides;
#foo {
  color: var(--background);
}

* {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  color: white;
  font-family: "Baskervville";
}

body {
  font-weight: 400;
  font-style: normal;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to  right, maroon, #363771);
  padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-style: normal;
  display:flex;
  font-family: "Baskervville";
}

#header-logo {
  text-align: center;
  padding: 15px 0;
  background-color: black;
}

#header-contact-mobile-nav {
  /* grid-area: header-contact-mobile-nav; */
  background-color:#262320;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#mobile-nav {
  color: white;
  padding: 01.5em;
  cursor: pointer;
  /* display:flex; */
}
.fa-solid{
  position: absolute;
  right: 2%;
  /* display:flex; */
}

#header-bottom-nav {
  grid-area: header-bottom-nav;
  background-color: black;
}

#header-bottom-nav ul {
  border-top: 1px solid 
lightgrey;
  /* background-color: red; */
  display: none;
  align-items: flex-start;
  flex-direction: column;
}

#header-bottom-nav ul li {
  border-bottom: 1px solid 
lightgrey;
  width: 100%;
}

#header-bottom-nav ul li a {
/*   background-color: yellow; */
  color: white;
  display: flex;

  font-size: 1.2em;
  border-bottom: 0.25em solid transparent;

  /* padding: 20px; */
  width: 100%;
}

#header-bottom-nav ul li a:hover,
#header-bottom-nav ul li a.active{
  color: 
deepskyblue;
}

#picture{
  float: left;
  max-width: 100%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Maintains the aspect ratio by adjusting height proportionally */
  display: block;
  display: flex;
  height: 48px;
  border: solid 4px;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#title{
  color: white;
  position: absolute;
  /* display: flex; */
  left: 50px;
  border-style: solid;
  padding: 11.5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: larger;
  font-family: "Baskervville";
}
p{
  color: white;
}

#const{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #262320;
    text-align: center;
    padding: 1em 0;
    z-index: 100;
}
footer{
  width: 100%;
  background-color: #262320;
  text-align: center;
  padding: 1em 0;
}
#footer_text{
    color: white;
}
#sorry{
  color: white;
  border: solid white;
  display: inline-block;
  padding: 5px;
  position: absolute;
  left: 50px;
  background-color: #262320;
  border-radius: 5px;
}
#buttons{
  position: relative;
  left: 50px;
  top: 50px;
  color: white;
  border: solid white;
  background-color: #262320;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.674);
}
p {
  color: 
white;
  margin: 1em 0; /* Add space above and below paragraph */
  line-height: 1.25em;
  
}
.hero {
  background-image: url(/images_main/3d-render-laptop-notebook-electronic-device-with-illuminated-with-neon-light_204298-982.jpg);
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  background-color: var(--background);
  border:solid;
  border-radius: 5px;
  padding: 20px;
  /* box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.674); */
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  background-color: var(--background);
  border:solid;
  border-radius: 5px;
  padding: 5px;
  /* box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.674); */
}
#about_us{
  font-size: 20px;
  margin: 30px;
  background-color: var(--background);
  border:solid;
  border-radius: 5px;
  padding: 10px;
  /* text-indent: 2em; */
  text-align: center;
  box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.674);
}
#about_us_btn{
  background-color: var(--background);
  border:solid;
  border-radius: 5px;
  padding: 5px;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.674);
}

.btn-primary {
  background-color: var(--background);
  padding: 10px 20px;
  border:solid;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.674); */
}

.btn-primary:hover {
  background-color: #333;
  color: #fff;
}
#video{
  border: solid;
  border-radius: 5px;
  margin: 5px 5px;
  max-width: 95%;
  max-height: .95%;
  display: block;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.674);
}
#company_titles{
  border: white solid;
  border-radius: 5px;
  background-color: var(--background);
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.674);
}
.company_logos{
  width: 150px;
  height: 150px;
  background-color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table{
  margin-left: auto;
  margin-right: auto;
}
#news{
  border: white solid;
  border-radius: 5px;
  background-color: var(--background);
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.674);
}
.nav{
  text-decoration: none;
  padding: 1em;
  
}
footer {
  text-align: center;
  padding: 100px 40px;
  font-family: "Baskervville"
}

footer h3 {
  margin: 20px 0;
  text-align: center;
  font-family: "Baskervville";
  display: inline-block;
  background: none;
  border: 2px solid transparent; /* A transparent border to create space for the shadow */
  border-radius: 10px; /* Optional: for rounded corners */
  box-shadow: 
    0 0 5px rgb(255, 0, 0), /* Inner glow */
    0 0 15px rgba(255, 0, 0), /* Medium glow */
    inset 0 0 5px rgba(255, 0, 0); /* Inner highlight */
  padding: 5px; /* Adjust padding as needed */
  margin: 0px 0px 20px 0px;
  background-color: #333; /* Example background for contrast */
  color: #fff; /* Example text color */
}

footer a {
  text-decoration: none;
  text-align: center;
  padding: 5px;
  display: inline-block;
  font-family: "Baskervville";
  border: 2px solid transparent; /* A transparent border to create space for the shadow */
  border-radius: 10px; /* Optional: for rounded corners */
  box-shadow: 
    0 0 5px rgba(187, 0, 0, 0.666), /* Inner glow */
    0 0 15px rgba(187, 0, 0, 0.666), /* Medium glow */
    /* 0 0 30px rgba(187, 0, 0, 0.666),
    0 0 50px rgba(255, 0, 0, 0.674),  */
    inset 0 0 5px rgb(187, 0, 0, 0.666);
  padding: 5px; /* Adjust padding as needed */
  margin: 0px 0px 20px 0px;
  background-color: #333; /* Example background for contrast */
  color: #fff; /* Example text color */
  
}

footer a:hover {
  text-decoration: underline;
}
#footerlogo{
  width: 200px;
  display: block;
  margin: 0 auto;
}
header{
  position: fixed;
    top: 0;
    width: 100%;
    /* background-color: #262320; */
    text-align: center;
    
    z-index: 100;
}
@-webkit-keyframes border-transform{
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}
.paginacontainer {
height: 3000px;
}
.progress-wrap {
position: fixed;
right: 30px;
bottom: 30px;
height: 46px;
width: 46px;
cursor: pointer;
display: block;
border-radius: 50px;
box-shadow: inset  0 0 0 2px rgba(0,0,0,0.1);
z-index: 10000;
opacity: 0;
visibility: hidden;
transform: translateY(15px);
-webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap.active-progress {
opacity: 1;
visibility: visible;
transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  content: '';
  /* Set the color of the icon */
  background-color: rgb(111, 0, 0);
  /* Use the SVG as a mask */
  -webkit-mask-image: url('../images_main/up-arrow-svgrepo-com.svg');
  mask-image: url('../images_main/up-arrow-svgrepo-com.svg');
  -webkit-mask-size: 20px;
  mask-size: 20px;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  text-align: center;
  line-height: 46px;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}

.progress-wrap:hover::after {
opacity: 0;
}
.progress-wrap::before {
position: absolute;
text-align: center;
line-height: 46px;
font-size: 24px;
opacity: 0;
background: black;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
left: 0;
top: 0;
height: 46px;
width: 46px;
cursor: pointer;
display: block;
z-index: 2;
-webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap:hover::before {
opacity: 1;
}
.progress-wrap svg path { 
fill: none; 
}
.progress-wrap svg.progress-circle path {
stroke: rgba(187, 0, 0, 0.666);
stroke-width: 4;
box-sizing:border-box;
-webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.dropdown-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.animation-overview .box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: var(--wa-color-brand-fill-loud);
  margin: 1.5rem;
}