* {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Baskervville", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Baskervville", serif;
  font-weight: 700;
  font-style: normal;
  display:flex;
}

#header-logo {
  text-align: center;
  padding: 15px 0;
}

#header-contact-mobile-nav {
  /* grid-area: header-contact-mobile-nav; */
  background-color:#262320;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#mobile-nav {
  color: white;
  padding: 01.5em;
  cursor: pointer;
  /* display:flex; */
}
.fa-solid{
  position: absolute;
  right: 2%;
  /* display:flex; */
}

#header-bottom-nav {
  grid-area: header-bottom-nav;
}


#header-bottom-nav ul {
  border-top: 1px solid 
lightgrey;
  /* background-color: red; */
  display: none;
  align-items: flex-start;
  flex-direction: column;
}

#header-bottom-nav ul li {
  border-bottom: 1px solid 
lightgrey;
  width: 100%;
}

#header-bottom-nav ul li a {
/*   background-color: yellow; */
  color: white;
  display: flex;

  font-size: 1.2em;
  border-bottom: 0.25em solid transparent;

  /* padding: 20px; */
  width: 100%;
}

#header-bottom-nav ul li a:hover,
#header-bottom-nav ul li a.active{
  color: 
deepskyblue;
}

#picture{
  float: left;
  background-color:#262320 ;
  max-width: 100%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Maintains the aspect ratio by adjusting height proportionally */
  display: block;
  display: flex;
  height: 48px;
  border: solid;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#title{
  color: white;
  position: absolute;
  /* display: flex; */
  left: 50px;
  border-style: solid;
  padding: 11.5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: larger;
}
p{
  color: white;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #262320;
    text-align: center;
    padding: 1em 0;
}

#footer_text{
    color: white;
}
#sorry{
  color: white;
  border: solid white;
  display: inline-block;
  padding: 5px;
  position: absolute;
  left: 50px;
  background-color: #262320;
  border-radius: 5px;
}
#buttons{
  position: relative;
  left: 50px;
  top: 50px;
  color: white;
  border: solid white;
  background-color: #262320;
  border-radius: 5px;
}