* {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Baskervville", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Baskervville", serif;
  font-weight: 700;
  font-style: normal;
}

#header-logo {
  text-align: center;
  padding: 15px 0;
}

/*these styles apply to all tags inside a nav isnide a banner*/ 
header nav a {
  display: inline-block;
  text-decoration: none;
  color:  #262320;
  font-weight: 700;
}

/* #header-top-nav { */
  /* grid-area: header-top-nav; */
/* } */

/* #header-top-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslategray; */


#header-top-nav ul li a {
  padding: 0.5em 1em 0.5em 0;
  margin-right: 2em;
}

#header-top-nav ul li:nth-child(3) a,
#header-top-nav ul li:last-child a {
  margin-right: 0;
}

#header-top-nav ul a:hover {
  text-decoration: underline;
}

#header-top-nav ul li a span {
  color: deepskyblue;
}

#header-contact-mobile-nav {
  grid-area: header-contact-mobile-nav;
  background-color:#262320;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mobile-nav {
  color: #980B20;
  padding: 01.5em;
  cursor: pointer;
}
.fa-solid{
  position: absolute;
  right: 20px;
}

#header-bottom-nav {
  grid-area: header-bottom-nav;
}

#header-bottom-nav ul {
  border-top: 1px solid 
lightgrey;
  /* background-color: red; */
  display: block;
  align-items: flex-start;
  flex-direction: column;
}

#header-bottom-nav ul li {
  border-bottom: 1px solid 
lightgrey;
  width: 100%;
}

#header-bottom-nav ul li:last-of-type {
  border-bottom: block;
}

#header-bottom-nav ul li a {
/*   background-color: yellow; */
  color: 
white;
  font-size: 1.2em;
  border-bottom: 0.25em solid transparent;

  /* padding: 20px; */
  width: 100%;
}

#header-bottom-nav ul li a:hover,
#header-bottom-nav ul li a.active{
  color: 
deepskyblue;
}

.btn {
  background-color: 
deepskyblue;
  color: 
white;
  padding: 0.75em 1.5em !important;
}

.btn.header-btn {
  padding: 1em 1.5em !important;
}

.btn.header-btn:hover {
  background-color: 
deepskyblue;
}

.btn:hover {
  background-color: 
darkgrey;
  text-decoration: none
}
#picture{
  float: left;
  background-color:#262320 ;
  max-width: 100%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Maintains the aspect ratio by adjusting height proportionally */
  display: block;
  height: 48px;
  border: solid;
  color: #980B20;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#Logo{
  color: #980B20;
    position: absolute;
    left: 60px;
    border-style: solid;
    padding: 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: larger;
}